@charset "utf-8";

/* uso de pisel */
/* boxshadow,margin,padding */
/* em = 16px */
html {
    font-size: 62.5%;
}
b {
    color: red;
    font-size: 1rem;
}

h1 {
    font-size: 3.4em;
}

p {
    font-size: 2em;
}