@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 1em;
    background-color: #ccc;
    accent-color: yellow;
}

progress{
    width: 50%;
    padding: 20px;
}

meter{
    padding-right: 20px;
}

input{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 0px;
    padding: 1em;
    text-align: center;
    font-size: 1em;
    font-weight: 900;
    margin: 0px 10px;
    
}