@charset "UTF-8";

body {
    font-family: sans-serif;
}

p {
    background-color: #ccc;
    margin-top: 0;
    /* padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 35px; */
}

h1 {
    background-color: #881c1c;
    padding: 16px;
}

h2 {
    background-color: #2c991b;
    margin-top: 56px;
    border-bottom: 6px solid rgb(4, 24, 4);
}

.destaque {
    background-color: orange;
}

.size {
    width: 50%;
    height: 100px;
}

.padding {
    padding: 26px;
}

.margin {
    margin: 50px 0 20px 100px;
}

.borda {
    border-top-style: solid;
    border-top-width: 15px;
    border-top-color: orange;
    /* border-top:10px solid rgba(31, 8, 159, 0.982); */
    border-right: 10px dotted red;
    border-bottom: 10px dashed yellow;
    border-left: 30px groove brown;
    /* border: 10px solid red; */
    padding: 10px;
}

.borda2 {
    border:5px dashed red;
}

.outline {
    outline: 5px dashed red;
}